body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    animation: fadein 1.5s ease forwards;
    opacity: 0;
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #eeeeee;
}

h1 {
    margin-top: 20px;
    color: #EEEEEE;
}

#controls {
    margin: 20px auto 20px;
}

canvas {
    border: 2px solid #393E46;
    border-radius: 5px;
    margin-top: 20px;
    transition: opacity 0.3s ease;
}

canvas.fade {
    opacity: 0.4;
}

#saveButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FD7014;
    color: #EEEEEE;
    border-radius: 10px;
    border: 0;
    transition: all 0.3s ease;
}

#saveButton:hover {
    background-color: #ce5f15;
    transform: translateY(-2px);
}


.control-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    color: #393E46;
}

.arrow {
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: scale(1);
}

.arrow:hover {
    background-color: #FD7014;
    transform: scale(1.1);
}

span {
    
    padding: 0 10px 0 10px;
}
